.cono-tooltip * {
	transition: 300ms ease;
}

.cono-tooltip {
	width: 200px;
	font-family: 'Open Sans', sans-serif;
	padding: 5px;
}
.cono-tag, .cono-add {
	display: inline-block;
	padding: 4px 8px;
	margin: 2px 2px;

	vertical-align: baseline;
	line-height: 1;

	background-color: white;
	border: 1px solid #2196F3;
	border-radius: 1000px; /* circular corners */

	font-size: 12px;
	color: #2196F3;
}

.cono-tag:hover {
	background-color: #90caf9;
	color: white;
}

.cono-tag.cono-personal {
	background-color: #2196F3;
	color: white;
}

.cono-tag.cono-personal:hover {
	background-color: #90caf9;
	color: white;
}

.cono-add.cono-adding {
	background-color: red;
	border-color: white;
}

.cono-add::after {
	content: "+";
}

.cono-add.cono-adding::after {
	content: "x";
	color: white;
}

.cono-add-dialogue {
	position: relative;
	height: 0px;
	overflow: hidden;
}

.cono-add-dialogue.cono-adding {
	height: 50px;
}

.cono-add-dialogue input {
	border-radius: 1000px;
	border: 1px solid grey;
	padding: 2px 8px;
}

.cono-add-dialogue div {
	font-size: 11px;
	color: grey;
	margin-left: 10px;
	margin-top: 2px;
}


.tippy-tooltip.cono-theme {
	background-color: #efefef;
	border-radius: 10px;
}

.cono-theme .tippy-roundarrow {
	fill: #efefef;
}